{
  "presets": [["@babel/preset-react", { "targets": "defaults" }]],
  "overrides": [
    {
      "test": "index.js",
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  ]
}
